
<div class="hw-shadow-container" ng-show="$ctrl.layoutService.isAddTodoFormOpen"></div>
<hw-header></hw-header>


<div ng-if="$ctrl.$scope.dataFetching">
    <div class="hw__loader-container">
          <div class="hw-loader hw-loader--blue">
                <span>{</span><span>}</span>
          </div>
    </div>
</div>



<div class="container" ng-if="!$ctrl.$scope.dataFetching">
        <div class="u-center-text">
            <button type="button"
              class="hw-todos__add
              hw-btn
              hw-btn--transitioned
              hw-btn--orange
              hw-btn--medium-padding
              hw-btn--border-radius
              hw-btn--medium-font"
              ng-click="$ctrl.toggleAddTodoForm()"
            > Add todo
          </button>
        </div>
          <add-todo 
            ng-class="{'hw-add-todo--open': $ctrl.layoutService.isAddTodoFormOpen}"
            fetch-data="$ctrl.fetchData()"
            class="hw-add-todo">
          </add-todo>

       
        <todo-list 
          resolved-todos="$ctrl.$scope.resolvedTodos"
          unresolved-todos="$ctrl.$scope.unresolvedTodos"
          todo-removed="$ctrl.remove($event.id)"
          todo-resolved="$ctrl.resolve($event.id)"
        >
        </todo-list>


      
</div>





