<form name="addTodoForm" ng-submit="$ctrl.submit()" novalidate>
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" ng-model="$ctrl.name" placeholder="Name of Todo" required>
  </div>
  <div class="form-group">
    <label>Body</label>
    <textarea type="text" class="form-control" ng-model="$ctrl.body" placeholder="Body of todo" rows="10" required>
      
    </textarea>
  </div>
  <div class="form-group">
    <div ng-click="$ctrl.addCategory($event)">


        <label ng-repeat="styledCategory in $ctrl.styledCategores"
         for="{{styledCategory.name}}-category" 
         class="hw-add-todo-form__container">{{styledCategory.name}}
            <input 
               type="checkbox"
               ng-model="styledCategory.selected"
               name="{{styledCategory.name}}"
               value="{{styledCategory.name}}"
               id="{{styledCategory.name}}-category"
               >
            <span class="hw-add-todo-form__checkmark"></span>
          </label>

      
    </div>
  </div>


  <div class="form-group">
    <label for="urgent" class="hw-add-todo-form__container"> Urgent!
        <input 
            type="checkbox"
            name="urgent"
            id="urgent" 
            ng-model="$ctrl.urgent"
            >
    <span class="hw-add-todo-form__checkmark"></span>
    </label>
  </div>


  <div class="u-center-text">
    <button type="submit"
          class="hw-btn
          hw-btn--transitioned
          hw-btn--green
          hw-btn--medium-padding
          hw-btn--border-radius
          hw-btn--animated
          hw-btn--medium-font"
          ng-disabled="addTodoForm.$invalid">Add</button>
  </div>
</form>

